# C/C++ build outputs (executables & objects)
*.o
*.obj
*.out
*.exe
*.app
*.a
*.so
*.dylib

# Common build dirs
/build/
/bin/
/Debug/
/Release/

# Ignore this one source file
/functionNotes.cpp
/whileloop.cpp
/doWhileloop.cpp
/forloop.cpp
/converter.cpp

